.bg-custom-color{
  background: linear-gradient(to bottom, white, #f7a8ac);
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.z-40 {
  z-index: 40;
}

.p-5 {
  padding: 20px;
}

.bg-white {
  background-color: white;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.transform {
  transform: translateX(0);
}

.translate-x-full {
  transform: translateX(100%);
}

.translate-x-0 {
  transform: translateX(0);
}
