
.bg-custom-navbar{
  background: linear-gradient(to bottom,#EF3E43, #A9070C);
}

.bg-custom-navbar2{
  background: #A9070C ;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.z-40 {
  z-index: 40;
}

.p-5 {
  padding: 20px;
}

.bg-white {
  background-color: #A9070C;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(245, 1, 1, 0.767);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.transform {
  transform: translateX(0);
}

.translate-x-full {
  transform: translateX(100%);
}

.translate-x-0 {
  transform: translateX(0);
}
