/* Estilos para o carrossel */
.fundo-carrosel {
  background: linear-gradient(to bottom, #ef3e43, #ffffff);
  width: 100%;
  padding-top: 1rem;
  margin: 0;
}

.container-slide {
  width: 90%;
  height: 0%;
  margin: auto;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .container-slide {
    width: 90%;
    height: auto;
  }
}

.slide {
  background-color: #f1f1f1;
  border: 1px solid white;
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 90vh;
}

@media (max-width: 768px) {
  .slide {
    height: auto;
  }
}

.slide img {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

/* Fundo com patinhas */
.fundo-com-patinhas {
  background-image: url("../../assets/patas.png");
  background-repeat: repeat;
  padding: 2rem 0;
}

.container-conteudo {
  max-width: 1200px;
  margin: 2;
  padding: 0 1rem;
}

.grid-conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 768px) {
  .grid-conteudo {
    grid-template-columns: 1fr;
  }
}

.imagem-lado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-reduzida {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #a9070c;
  margin-top: 1rem;
}

.texto-lado {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border: #a9070c 2px solid;
  border-radius: 10px;
}

.titulo-principal {
  font-size: 2rem;
  color: #a9070c;
  margin-bottom: 1rem;
  text-align: center;
}

.texto-container {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}

.botao-adotar {
  text-align: center;
  margin-top: 2rem;
}

.botao {
  background-color: #ef3e43;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #a9070c;
}
